.headerTag {
    display: flex;
    align-items: flex-start;
    gap: 100px;
    height: 50px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    padding: 0 50px;
}
.tag {
    margin: 15px 0;
    color: #ffffff;
    font-weight: 100;
    cursor: pointer;
}
.tag:hover {
    font-weight: 500;
}
.setting {
    margin-left: auto;
}
.firstTag:hover, .shortTag:hover ,.middleTag:hover, .longTag:hover, .setting:hover {
    font-weight: bold;
}