.filterContainer {
    margin: 20px 30px;
    display: flex;
    justify-content: space-between;
}
.filterContainerLeft {
    display: flex;
}
.filterContainerRight {
    width: 350px;
}
.reSampleButton {
    display: flex;
    margin-left: auto;
    margin-right: 50px;
    border-radius: 15px;
    background: #ffffff;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    color: #182847;
    width: 115px;
    padding: 3px 20px;
    border: solid #90BA2D 2px;
    font-weight: 600;
    font-size: 13px;
    cursor: pointer;
}
.reSampleButton:hover {
    background: #c5d89b;
    border: solid #c5d89b 2px;
    color: #4f4cbb;
}
.tableContainer {
    margin: 20px;
}
.table {
    width: 100%;
    border-collapse: collapse;
}
.table thead {
    background-color: #838689;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
}
.table thead tr th:first-child {
    border-radius: 20px 0 0 0;
}
.table thead tr th:last-child {
    border-radius: 0 20px 0 0;
}
.table tbody {
    font-weight: 300;
}
.table tbody tr {
    border-bottom: 1px solid #838689;
}
.table tbody tr td {
    color: #666666;
    font-size: 16px;
    padding: 10px;
}
.table tbody tr:nth-child(even) {
    background-color: #ffffff;
}
.table th,
.table td {
    padding: 8px;
    text-align: center;
}
.pagination {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.pagination span {
    padding: 10px 20px;
    font-size: 16px;
    color: #1a1a1a;
    align-items: center;
}
.pagination span:first-child {
    padding: 10px 5px 10px 0;
}
.pagination button {
    border: none;
    border-radius: 18px;
    font-size: 18px;
    padding: 15px;
}
.pagination button:hover:not([disabled]) {
    background-color: #d3d3d3;
    cursor: pointer;
}
.select {
    position: relative;
    width: 50px;
}

.select select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
    background-color: #f8f8f8;
    cursor: pointer;
}

.select::after {
    content: '\25BC';
    font-size: 12px;
    color: #555;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
}
.select select:focus {
    outline: none;
}
.select select:hover {
    border-color: #1a1a1a;
}
.checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    width: 20px;
    height: 20px;
    background-color: #faf7f7;
    border: 1px solid #DAE2ED;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkbox input:checked + .checkmark {
    background-color: #90BA2D;
}

.checkmark:after {
    content: "";
    display: none;
    width: 6px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.checkbox input:checked + .checkmark:after {
    display: block;
}
.downloadIcon {
    cursor: pointer;
}
.request {
    cursor: pointer;
    text-decoration: underline;
    text-underline-position : under;
    text-decoration-color: #ddefab;
    text-decoration-thickness: 2px;
}
.request:hover {
    text-decoration-color: #90BA2D;
}
.closed {
    cursor: pointer;
    text-decoration: underline;
    text-underline-position : under;
    text-decoration-color: #859fbf;
    text-decoration-thickness: 2px;
}
.closed:hover {
    text-decoration-color: #182847;
}