.filterContainer {
    margin: 20px 30px;
    display: flex;
    justify-content: space-between;
}
.filterContainerLeft {
    display: flex;
}
.filterContainerRight {
    width: 400px;
}
.reSampleButton {
    display: flex;
    float: right;
    margin: 10px 20px;
}
.select {
    width: 50px;
    margin-right: 20px;
}
.select select {
    padding: 10px 1px;
    border: 1px solid #ccc;
    border-radius: 15px;
    background-color: #f8f8f8;
    cursor: pointer;
    font-size: 12px;
}
.select select:focus {
    outline: none;
}
.select select:hover {
    border-color: #1a1a1a;
}
.checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}
.checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.checkmark {
    width: 10px;
    height: 20px;
    background-color: #faf7f7;
    border: 1px solid #DAE2ED;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.checkbox input:checked + .checkmark {
    background-color: #90BA2D;
}
.checkmark:after {
    content: "";
    display: none;
    width: 6px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    margin-bottom: 3px;
}
.checkbox input:checked + .checkmark:after {
    display: block;
}
.downloadIcon {
    cursor: pointer;
}
.request {
    cursor: pointer;
    text-decoration: underline;
    text-underline-position : under;
    text-decoration-color: #ddefab;
    text-decoration-thickness: 2px;
}
.request:hover {
    text-decoration-color: #90BA2D;
}
.closed {
    cursor: pointer;
    text-decoration: underline;
    text-underline-position : under;
    text-decoration-color: #859fbf;
    text-decoration-thickness: 2px;
}
.closed:hover {
    text-decoration-color: #182847;
}