.container{
    margin: 5vh auto;
    width: 90%;
}
.titleContainer{
    margin: 20px auto auto;
    width: 95%;
}
.orderContainerWrapper {
    padding: 2vh 2vw;
    border-radius: 15px;
    background-color: #ffffff;
}
.orderContainer{
    margin: 2vh auto;
    width: 100%;
    max-width: 1400px;
    background-color: #ffffff;
    border-radius: 15px;
    overflow-y: auto;
}