
.label{
    font-size: 0.65vw;
    color: #666666;
    margin-bottom: 5px;
}

.selectSection ul,
.selectSection li {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: initial;
}
.selectSection p {
    margin-top: 0;
}
.btnSelect {
    display: flex;
    width: 100%;
    min-width: 10.35vw;
    justify-content: space-between;
    align-items: center;
    border: 0.1vw solid #DAE2ED;
    border-radius: 5px;
    padding: 1vh 1vw;
    margin-bottom: 0.4vh;
    font-size: 0.6vw;
    background-color: #fff;
    box-shadow: 0 0.2vh 0.2vw #F3F6F9;
    cursor: pointer;
}
.selectSection.error .btnSelect {
    border: 1px solid red;
}
.selectSection.error p{
    color: red;
}
.btnSelect:hover {
    outline: 0.1vw solid #CCE492;
    border: 1px solid #90BA2D;
}
.btnSelect.open {
    outline: 0.1vw solid #CCE492;
    border: 1px solid #90BA2D;
}
.searchList {
    display: none;
    position: absolute;
    outline: 0.05vw solid #C4C4C4;
    border-radius: 5px;
    max-height: 200px;
    overflow-y: auto;
    background-color: #fff;
    z-index: 1;
}
.searchList.open {
    display: block;
}
.searchInput {
    border: solid #C4C4C4 0.1vw;
    width: 90%;
    border-radius: 5px;
    margin: 0.5vh 0.2vw;
    outline: none;
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 10;
}
.listMember li {
    width: 9.5vw;
}
.listMember li button {
    width: 100%;
    background-color: #fff;
    font-size: 0.6vw;
    text-align: left;
    padding: 0.8vh 1vw;
    border: none;
    cursor: pointer;
}

.listMember li button:hover {
    background-color: #E5EAF2;
}