.filterContainer {
    margin: 20px 30px;
    display: flex;
}
.filterContainerLeft {
    display: flex;
    margin-left: auto;
}
.filterContainerRight {
    width: 350px;
}
.alisSync {
    display: flex;
    margin: 2.5vh 2vw 0 0;
    border-radius: 15px;
    background: linear-gradient(135deg, #182847, #354e6d);
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    color: #ffffff;
    width: 7vw;
    height: 3.5vh;
    padding: 0.8vh 1.6vw;
    border: none;
    font-weight: 700;
    font-size: 0.8vw;
    cursor: pointer;
}
.alisSync:active {
    background: linear-gradient(135deg, #546b98, #4f6e92);
}
.selectSearchKey {
    padding: 0.2vh 0.2vw 0.2vh 0.2vw;
    margin: 2.5vh 1vw 0 1vw;
    height: 3.5vh;
    width: 6vw;
    font-size: 0.6vw;
    border-radius: 15px;
    border: 1px solid #DAE2ED;
    box-shadow: 0 2px 2px #F3F6F9;
    color: #666666;
    outline: none;
}
.tableContainer {
    margin: 2vh 2vw;
}
.table {
    width: 100%;
    border-collapse: collapse;
}
.table thead {
    background-color: #838689;
    color: #ffffff;
    font-size: 0.8vw;
    font-weight: 600;
}
.table thead tr th:first-child {
    border-radius: 20px 0 0 0;
}
.table thead tr th:last-child {
    border-radius: 0 20px 0 0;
}
.table tbody {
    font-weight: 300;
}
.table tbody tr {
    border-bottom: 1px solid #838689;
}
.table tbody tr td {
    color: #666666;
    font-size: 0.7vw;
    padding: 10px;
}
.table tbody tr:nth-child(even) {
    background-color: #ffffff;
}
.table th,
.table td {
    padding: 0.6vh 0.6vw;
    text-align: center;
}
.pagination {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.pagination span {
    padding: 1vh 1vw;
    font-size: 0.8vw;
    color: #1a1a1a;
    align-items: center;
}
.pagination span:first-child {
    padding: 1vh 0.5vw 1vh 0;
}
.pagination button {
    border: none;
    border-radius: 18px;
    font-size: 1vw;
    padding: 1.5vh 0.8vw;
}
.pagination button:hover:not([disabled]) {
    background-color: #d3d3d3;
    cursor: pointer;
}
.select {
    position: relative;
    width: 3vw;
}

.select select {
    font-size: 0.6vw;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100%;
    padding: 1vh 0.5vw;
    border: 1px solid #ccc;
    border-radius: 15px;
    background-color: #f8f8f8;
    cursor: pointer;
}

.select::after {
    content: '\25BC';
    font-size: 0.6vw;
    color: #555;
    position: absolute;
    top: 50%;
    right: 0.5vw;
    transform: translateY(-50%);
    pointer-events: none;
}
.select select:focus {
    outline: none;
}
.select select:hover {
    border-color: #1a1a1a;
}
.editButton {
    font-size: 0.7vw;
    padding: 0.5vh 0.3vw;
    min-width: 4vw;
    border-radius: 5px;
    border: none;
    transition: all 150ms ease;
    cursor: pointer;
    background: linear-gradient(135deg, #a2a3a9, #7a92af);
    color: #ffffff;
    margin: 0.5vh 0.3vw;
}
.editButton:hover {
    background: linear-gradient(135deg, #3c6699, #9ebce6);
    border: none;
}