.container {
    display: flex;
    width: 100%;
}
.left {
    flex: 1;
    top: 73px;
    height: calc(100vh - 73px - 150px);
    overflow: hidden;
}
.right {
    flex: 1;
    margin-left: 5%;
}
.left img {
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.horizontalLogo {
    display: flex;
    align-items: center;
    width: 600px;
    border-bottom: solid #999999;
    border-width: thin;
    padding-bottom: 20px;
    margin: 50px 0 0 0;
}
.labelContainer {
    display: flex;
    flex-direction: column;
}
.mainLabel {
    font-weight: 700;
    font-size: 25pt;
    color: #002B49;
}
.subLabel {
    font-weight: 400;
    font-size: 18.38pt;
    color: #002B49;
}
.logo {
    padding-right: 50px;
}
.login {
    margin: 25px 0 40px 5%;
    display: grid;
    align-items: center;
}
.loginLabel {
    font-size: 20pt;
    font-weight: 300;
    margin-bottom: 5px;
}
.loginInput {
    width: 408px;
    height: 49px;
    border-radius: 9pt;
    border: none;
    background-color: #C8C9CB;
    outline: none;
    padding-left: 10pt;
    font-size: 16pt;
}
.loginButton,
.healthcareButton {
    height: 49px;
    width: 423px;
    font-size: 20pt;
    font-weight: 600;
    border-radius: 10pt;
}
.loginButton {
    background: linear-gradient(135deg, #182847, #354e6d);
    color: #ffffff;
    margin-bottom: 30px;
    border: none;
    box-shadow: 1px 4px 10px rgb(0,0,0,0.5);
}
.loginButton:hover {
    background: linear-gradient(135deg, #1b3351, #3d587e);
    cursor: pointer;
}
.loginButton:active {
    box-shadow: 1px 1px 0 rgb(0,0,0,0.5);
}
.healthcareButton {
    color: #999999;
    border: thin solid #999999;
    font-weight: 300;
    box-shadow: 1px 5px 10px rgb(0,0,0,0.2);
}
.healthcareButton:hover {
    color: #666666;
    border-color: #666666;
    cursor: pointer;
}
.healthcareButton:active {
    box-shadow: 1px 1px 0 rgb(0,0,0,0.5);
}
.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border-left-color: #fff;
    animation: spin 1s ease infinite;
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.errorMessage {
    color: red;
    margin-top: 10px;
}