.container {
    display: flex;
    width: 100%;
    height: calc(1050px - 80px - 140px);
    gap: 2%;
}
.left, .right {
    flex-basis: calc(50% - 1%);
    max-width: calc(50% - 1%);
    display: flex;
    flex-direction: column;
}
.left {
    width: 100%;
    height: 100%;
    background-color: #e0e0e0;
    position: relative;
    z-index: 1;
}
.left img {
    width: 100%;
    height: calc(1050px - 80px - 140px);
    object-fit: cover;
}
.right {
    justify-content: center;
    align-items: center;
    place-items: center;
}
.horizontalLogo {
    display: flex;
    align-items: center;
    border-bottom: solid #999999;
    border-width: thin;
    width: 500px;
    padding-bottom: 20px;
    margin-bottom: 30px;
}
.labelContainer {
    display: flex;
    flex-direction: column;
}
.mainLabel {
    font-weight: 700;
    font-size: 22pt;
    color: #002B49;
}
.subLabel {
    font-weight: 400;
    font-size: 16pt;
    color: #002B49;
}
.logo {
    padding-right: 15px;
}
.login {
    display: grid;
    align-items: center;
    margin-bottom: 20px;
}
.loginLabel {
    font-size: 15pt;
    font-weight: 300;
    margin-bottom: 5px;
}
.loginInput {
    height: 50px;
    width: 400px;
    border-radius: 9px;
    border: none;
    background-color: #C8C9CB;
    outline: none;
    padding-left: 10px;
    font-size: 14pt;
}
.loginButton,
.healthcareButton {
    height: 50px;
    width: 412px;
    font-size: 13pt;
    font-weight: 600;
    border-radius: 10px;
}
.loginButton {
    background: linear-gradient(135deg, #182847, #354e6d);
    color: #ffffff;
    margin-top: 3vh;
    margin-bottom: 3vh;
    border: none;
    box-shadow: 0.1vh 0.4vh 1vh rgba(0, 0, 0, 0.5);
}
.loginButton:hover {
    background: linear-gradient(135deg, #1b3351, #3d587e);
    cursor: pointer;
}
.loginButton:active {
    box-shadow: 0.1vh 0.1vh 0 rgba(0, 0, 0, 0.5);
}
.healthcareButton {
    color: #999999;
    border: thin solid #999999;
    font-weight: 300;
    box-shadow: 0.1vh 0.5vh 1vh rgba(0, 0, 0, 0.2);
}
.healthcareButton:hover {
    color: #666666;
    border-color: #666666;
    cursor: pointer;
}
.healthcareButton:active {
    box-shadow: 0.1vh 0.1vh 0 rgba(0, 0, 0, 0.5);
}
.spinner {
    border: 0.4vh solid rgba(0, 0, 0, 0.1);
    width: 2.4vh;
    height: 2.4vh;
    border-radius: 50%;
    border-left-color: #fff;
    animation: spin 1s ease infinite;
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.errorMessage {
    color: red;
    margin-top: 1vh;
}
.changePassword {
    margin: 20px auto 0 145px;
    color: #002b49;
    font-weight: bold;
    font-size: 12pt;
    border-bottom: solid #002b49;
    border-width: thin;
    cursor: pointer;
}
.changePassword:hover {
    font-weight: 900;
}