.modalBackground {
    display: flex;
    background-color: rgba(128, 128, 128, 0.16);
    justify-content: center;
    align-items: center; /* 수직 중앙 정렬 추가 */
    position: fixed; /* 스크롤에도 고정되도록 변경 */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
}

.modal {
    background: #fff;
    border: 2px solid #f0f0f0;
    border-radius: 16px;
    width: 20vw;
    height: auto; /* 높이를 콘텐츠에 맞춰 자동으로 조절 */
    padding: 2vh 2vw; /* 내부 여백 추가 */
    display: flex;
    flex-direction: column;
    align-items: center; /* 수평 중앙 정렬 */
}

.modalHeader {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.modalClose {
    cursor: pointer;
}

.modalBody {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.modalText {
    display: flex;
    justify-content: center;
    text-align: center;
}