.filterContainer {
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
}
.filterContainerRight {
    display: flex;
}
.filterContainerLeft {
    display: flex;
}
.downloadIcon {
    cursor: pointer;
    margin: 2px;
    font-size: 20px;
}