.container {
    display: grid;
}
.formGroupBetween {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 10px;
    padding: 10px;
}
.formGroupBetween > div{
    display: flex;
    gap: 10px;
}
.formGroupRight {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 10px;
    padding: 10px;
}
.formGroupLeft {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 10px;
    padding: 10px;
}
.topFirstSection {
    text-align: right;
}
.topSecondSection {
    float: right;
    display: flex;
    margin: 10px 0;
}
.tableContainer {
    width: 1120px;
    overflow-x: scroll;
}
.table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 1px;
}
.table thead {
    background: linear-gradient(to right, #023a60, #5676a2);
    color: #ffffff;
    font-size: 12px;
    font-weight: 600;
}
.table thead tr th:first-child {
    border-radius: 20px 0 0 0;
    z-index: 2;
    box-shadow: -10px -10px 0 10px white;
}
.table thead tr th:last-child {
    border-radius: 0 20px 0 0;
}
.table tbody {
    font-weight: 300;
}
.table tbody tr:nth-child(even) {
    background-color: #ffffff;
}
.table tbody tr:nth-child(odd) {
    background-color: #ffffff;
}
.table tbody tr td {
    color: #666666;
    font-size: 12px;
}

.table th,
.table td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #838689;
}
.stickyColumnHeaderCheckBox {
    position: sticky;
    left: 0.5px;
    background: #023a60;
    z-index: 2;
    clip-path: inset(0px -10px 0px 0px);
}
.stickyColumnHeader {
    position: sticky;
    left: 38.5px;
    background: #023a60;
    z-index: 1;
}
.stickyColumnHeaderSecond {
    position: sticky;
    left: 204.5px;
    background: linear-gradient(to right, #023a60, #31446D);
    z-index: 1;
}
.stickyColumnCheckBox {
    position: sticky;
    left: 0.5px;
    background-color: white;
    z-index: 1;
}
.stickyColumnFirstColumn {
    left: 38.5px;
    position: sticky;
    background-color: white;
    z-index: 1;
}
.stickyColumnSecondColumn {
    position: sticky;
    left: 204.5px;
    background-color: white;
    z-index: 1;
}
.stickyColumnLast {
    border-right: 3px double #838689;
}
.longColumn {
    min-width: 150px;
    max-width: 150px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.middleColumn {
    min-width: 100px;
    max-width: 100px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.shortColumn {
    min-width: 50px;
    max-width: 50px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.underlineRed {
    cursor: pointer;
    text-decoration: underline;
    text-underline-position : under;
    text-decoration-color: #859fbf;
    text-decoration-thickness: 2px;
}
.underlineRed:hover {
    font-weight: bold;
    text-decoration-thickness: 3px;
}
.underlineBlue {
    cursor: pointer;
    text-decoration: underline;
    text-underline-position : under;
    text-decoration-color: #ddefab;
    text-decoration-thickness: 2px;
}
.underlineBlue:hover {
    font-weight: bold;
    text-decoration-thickness: 3px;
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.pagination span {
    padding: 10px 20px;
    font-size: 13px;
    color: #1a1a1a;
    align-items: center;
}
.pagination span:first-child {
    padding: 10px 5px 10px 0;
}
.pagination button {
    border: none;
    border-radius: 18px;
    font-size: 13px;
    padding: 10px 5px;
    margin: 10px 5px;
}
.pagination button:hover:not([disabled]) {
    transform: scale(1.2);
    cursor: pointer;
}
.select {
    width: 55px;
}
.select select {
    font-size: 10px;
    padding: 7px 7px;
    border: 1px solid #ccc;
    border-radius: 15px;
    background-color: #f8f8f8;
    cursor: pointer;
}
.select select:focus {
    outline: none;
}
.select select:hover {
    border-color: #1a1a1a;
}
.checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}
.checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.checkmark {
    width: 20px;
    height: 20px;
    background-color: #faf7f7;
    border: 1px solid #DAE2ED;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.checkbox input:checked + .checkmark {
    background-color: #90BA2D;
}
.checkmark:after {
    content: "";
    display: none;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    margin-bottom: 3px;
}
.checkbox input:checked + .checkmark:after {
    display: block;
}
.info {
    cursor: pointer;
}
.info:hover {
    color: #002b49;
}
.resetButton {
    margin-top: 30px;
    cursor: pointer;
}
.resetButton:hover {
    color: #90BA2D;
}
.pageButton, .pageButton:hover {
    background: none;
}
.selectRow {
    cursor: pointer;
}
.selectRow:hover {
    background-color: #f0f8ff !important;
}
.selected {
    background-color: #f0f8ff !important;
}
.noData {
    text-align: center;
    color: gray;
    font-weight: 700;
}
.icon {
    cursor: pointer;
}
.icon:hover {
    color: #90BA2D;
}