.modalBackground {
    display: flex;
    background-color: rgba(128, 128, 128, 0.16);
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
    z-index: 10;
}
.modal {
    display: flex;
    background: rgb(255, 255, 255);
    border-radius: 16px;
    flex-direction: column;
    padding: 20px 40px;
    position: relative;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.modalTitle {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    color: #1e2c5b;
}
.modalSubTitle {
    font-size: 16px;
    margin: 10px 0;
}
.modalCloseButton {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 15px;
    right: 15px;
    cursor: pointer;
}
.modalBody {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}
.formGroup {
    display: flex;
    gap: 20px;
    padding: 10px 0;
    align-items: center;
}
.buttonGroup {
    gap: 10px;
    display: flex;
    padding: 10px 0;
    justify-content: flex-end
}
.contentGroup {
    display: flex;
    gap: 20px;
}
.content {
    border: solid #C8C9CB 1px;
    border-radius: 15px;
    width: 460px;
    height: 400px;
    padding: 10px;
    overflow-y: auto;
}
.contentTitle {
    font-size: 20px;
    font-weight: bold;
}
.contentFormGroup {
    display: flex;
    gap: 20px;
    justify-content: flex-end
}
.addButton {
    margin-top: 22px;
    cursor: pointer;
    padding: 5px 10px;
    height: 40px;
    width: 80px;
    border-radius: 10px;
    border: none;
    background: linear-gradient(135deg, #182847, #354e6d);
    color: #ffffff;
    font-weight: 700;
    font-size: 12px;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.5);
}
.addButton:hover {
    background: linear-gradient(135deg, #354e6d, #182847);
}
.deleteButton {
    cursor: pointer;
}
.spaceDiv {
    margin: 10px 0;
}
@keyframes blink {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
}
.message {
    color: #ff6b6b;
    font-size: 12px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: blink 1s infinite;
}