.container{
    padding: 20px;
    margin: 48px 20px;
}
.title {
    padding: 20px;
}
.contents{
    background-color: #fff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}