
.fileContainer, .commentContainer {
    display: grid;
    margin: 10px 40px;
    gap: 10px;
}
.userLabel, .titleLabel, .contentLabel, .fileLabel, .commentLabel {
    font-weight: 700;
    font-size: 12pt;
    color: #333;
}
.inputUser, .inputTitle, .textareaContent {
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 10pt;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.fileInput {

}
.fileUploadLabel {
    --background: linear-gradient(to right, #023a60, #5676a2) left;
    --text: #fff;
    --font-size: 16px;
    --duration: 0.44s;
    --move-hover: -4px;
    --shadow: 0 2px 8px -1px rgba(39, 94, 254, 0.32);
    --shadow-hover: 0 4px 20px -2px rgba(39, 94, 254, 0.5);
    --font-shadow: var(--font-size);

    float: right;
    padding: 8px 16px;
    font-weight: 500;
    line-height: var(--font-size);
    border-radius: 24px;
    display: inline-block;
    outline: none;
    background: var(--background);
    color: var(--text);
    box-shadow: var(--shadow);
    transform: translateY(0);
    transition: transform var(--duration) ease, box-shadow var(--duration) ease;
    cursor: pointer;
    text-align: center;
    font-size: 15px;
    letter-spacing: 1px;
}

.fileUploadLabel:hover {
    transform: translateY(var(--move-hover));
    box-shadow: var(--shadow-hover);
}

.inputButton {
    font-size: 9pt;
    display: none;
}
.fileList {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 100%;
}
.fileName {
    display: inline-flex;
    margin: 3px 6px 6px 0;
    cursor: pointer;
}
.fileName:hover {
    color: #90BA2D;
}
.fileDelete {
    margin: 0 0 5px 4px;
    font-size: 9pt;
    cursor: pointer;
}
.textareaContent {
    resize: none;
}
.buttonContainer {
    margin-top: 30px;
    display: flex;
    justify-content: flex-end;
}
.addButton, .cancelButton {
    cursor: pointer;
    padding: 8px 20px;
    border: 1px solid #bbb9b7;
    background-color: #ffffff;
    font-size: 10pt;
    color: #88837E;
}
.comment {
    border-radius: 25px;
    border: 1px solid #ccc;
    padding: 10px 20px 30px 20px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    outline: none;
    transition: background-color 0.3s ease;
}
.commentUser {
    border-bottom: solid 1px #bbbbbb;
}
.commentNameAndDelete {
    display: flex;
    justify-content: space-between;
}
.commentDelete {
    font-size: 9pt;
    margin-top: 5px;
    cursor: pointer;
}
.commentUserName, .commentManagerName {
    margin: 5px 0 !important;
    font-size: 9pt;
}
.commentManagerName {
    color: #cf5757;
    font-weight: 600;
}
.commentContent {
    max-width: 1100px;
    margin: 5px 0 !important;
    font-size: 10pt;
    white-space: pre-wrap;
    word-wrap: break-word;
}
.commentDate {
    margin: 5px 0 !important;
    font-size: 7pt;
}
.firstCommentContainer {
    display: flex;
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0 0 0 20px;
}
.secondCommentContainer {
    display: grid;
}
.inputCommentUser {
    font-size: 10pt;
    margin: 5px 0 !important;
}
.inputComment {
    outline: none;
    border: none;
    width: 1120px;
    font-size: 9pt;
    background-color: #fff;
    margin-bottom: 10px;
}
.inputCommentButton {
    font-size: 9pt;
    width: 80px;
    margin: 0 0 0 20px !important;
    border: solid 1px #ccc;
    border-radius: 0 5px 5px 0;
    color: #fff;
    background-size: 200%;
    background: linear-gradient(to right, #023a60, #5676a2) left;
    cursor: pointer;
    transition: background-position 0.1s ease;
}
.inputCommentButton:hover {
    /*background: linear-gradient(to right, #5676a2, #023a60) right;*/
}
.addButton {
    border-right: none;
}
.cancelButton {

}
