.container {
    display: grid;
}
.menuContainer {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 10px;
    padding: 10px;
    background-color: #F0F2F2;
    border-radius: 10px 10px 0 0;
}
.contentContainer {
    width: 250px;
    margin: 10px;
    padding: 10px;
    display: grid;
    max-height: 350px;
}
.content {
    font-size: 11px;
    display: flex;
    margin: 5px 0;
    justify-content: space-between;
    align-items: center;
}
.content:hover,
.content:hover *,
.content:hover .title,
.content:hover .titleContent{
    font-size: 13px;
    font-weight: 900;
}
.titleWrapper {
    display: grid;
}
.titleContainer {
    display: flex;
    text-align: center;
    font-size: 12px;
}
.title {
    color: #002b49;
    font-weight: 700;
}
.new {
    margin-left: 10px;
    color: red;
    font-weight: 700;
}
.titleContent {
    font-weight: 600;
    font-size: 11px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 150px;
}