.container {
    display: grid;
    gap: 10px;
    margin: 30px 30px;
    border-radius: 10px;
}
.userAndTitleContainer {
    justify-content: space-between;
    display: flex;
    gap: 20px;
}
.headerContainer {
    display: flex;
    justify-content: space-between;
    margin: 10px 40px;
    gap: 10px;
}
.buttonContainer {
    margin: 0 40px;
    display: flex;
    justify-content: flex-end;
}
.userContainer, .titleContainer, .contentContainer, .fileContainer {
    display: grid;
    margin: 10px 40px;
    gap: 10px;
}
.userLabel, .titleLabel, .contentLabel, .fileLabel {
    font-weight: 700;
    font-size: 16px;
    color: #333;
}
.inputUser, .inputTitle, .textareaContent, .fileInput {
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 25px;
    font-size: 13px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    outline: none;
}
.fileList {
    margin: 20px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 100%;
    padding: 0;
}

.fileItem {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 170px;
}
.deleteIcon {
    padding-left: 30px;
    cursor: pointer;
    font-size: 10px;
}
.deleteIcon:hover {
    color: #90BA2D;
}
.fileName {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    text-align: left;
}
.inputUser {
    width: 300px;
}
.inputTitle {
    width: 500px;
}
.headTitle {
    font-size: 42px;
}
.backButton {
    font-size: 29px;
}
.backButton:hover {
    cursor: pointer;
}
.backButton:active {
    color: #90BA2D;
}
.select select {
    display: grid;
    padding: 10px 20px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
.select select:focus {
    outline: none;
}
.select option {
    font-size: 13px;
}
.textareaContent {
    resize: none;
}
.fileUploadBody {
    margin-top: 20px;
    min-height: 200px;
    background-color: #fff;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 25px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.fileUploadBody.dragging {
    background-color: #d3d3d3;
}
.word {
    margin: 10px 0;
}
.selectLink {
    display: flex;
    font-size: 14px;
}
.link {
    color: #859fbf;
    cursor: pointer;
}
.link:active {
    color: #7a93b2;
}