.filterContainer {
    margin: 20px 200px 20px;
    display: flex;
    justify-content: space-between;
}
.filterContainerLeft {
    display: flex;
}
.filterContainerLeft > *{
    padding-right: 5px;
}
.filterContainerRight {
    display: flex;
    gap: 10px;
}
.search {
    width: 300px;
}
/*테이블*/
.tableContainer {
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 20px 40px;
}
.table {
    width: 1000px;
    border-collapse: collapse;
}
.table thead {
    height: 40px;
    background: linear-gradient(to right, #023a60, #5676a2);
    color: #ffffff;
    font-size: 13px;
    font-weight: 600;
}
.table thead tr th:first-child {
    border-radius: 20px 0 0 0;
}
.table thead tr th:last-child {
    border-radius: 0 20px 0 0;
}
.table tbody {
    font-weight: 300;
}
.table tbody tr {
    border-bottom: 1px solid rgba(131, 134, 137, 0.15);
    cursor: pointer;
}
.table tbody tr:hover {
    background-color: rgba(60, 102, 153, 0.21) !important;
}
.table tbody tr td {
    color: #666666;
    font-size: 13px;
    padding: 10px;
}
.table tbody tr:nth-child(even) {
    background-color: #ffffff;
}
.table th,
.table td {
    padding: 6px 12px;
    text-align: center;
}
.title {
    max-width: 650px;
    text-align: left !important;
}
.titleTd {
    display: flex;
    width: 630px;
    max-width: 630px;
    padding: 6px 12px;
    text-align: left !important;
    position: relative;
}
.titleText {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.newBadge {
    color: #3B7D23;
    margin: 3px 5px;
    padding: 1px 3px;
    background-color: #D9EBC5;
    border-radius: 2px;
    font-size: 7px;
    font-weight: bold;
    display: inline-block;
    vertical-align: middle;
}
.newAndComment {

}
/*추가버튼*/
.addButton,
.addButton {
    border-radius: 10px;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    margin: 20px 20px 0 auto;
    color: #ffffff;
    background: linear-gradient(135deg, #182847, #354e6d);
    box-shadow: 2px 2px 2px rgba(0, 0, 0.2, 0.2);
}
.addButton:hover,
.addButton:hover {
    border: none;
    background: linear-gradient(135deg, #98e69d, #354e6d);
}
/*페이징*/
.pagination {
    margin: 20px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.paginationAngle {
    margin: 0 6px;
    font-size: 17px;
    background: none;
    border: none;
}
.activePage {
    margin: 0 6px;
    font-size: 17px;
    background: none;
    border: none;
}
.deActivePage {
    margin: 0 6px;
    font-size: 10px;
    background: none;
    border: none;
}
.activePage:hover, .deActivePage:hover {
    background: none !important;
    font-weight: 700;
}
.pagination button:hover:not([disabled]) {
    background-color: #d3d3d3;
    cursor: pointer;
}