.imageContainer {
    width: 1400px;
    height: 280px;
    overflow: hidden;
    position: relative;
    border-radius: 0 0 15px 15px;
}

.imageContainer img {
    display: block;
    width: 1400px;
    height: 280px;
    object-fit: cover;
    overflow: hidden;
}
.imageContainer .text {
    margin-left: 100px;
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(0%, -50%);
    color: white;
}
.imageContainer .text .mainText {
    font-size: 27pt;
    font-weight: 600;
    margin:0;
    white-space: nowrap;
    overflow: hidden;
}
.imageContainer .text .subText {
    font-size: 12pt;
    font-weight: 500;
    margin:0;
    white-space: nowrap;
    overflow: hidden;
}