.container {
    padding: 50px 5px 50px 0;
}
.container h1 {
    color: #002b49;
    font-size: 20pt;
}
.container h1 span button {
    cursor: pointer;
    margin-left: 10px;
    padding: 3px 8px;
    border-radius: 15px;
    font-size: 10pt;
    color: #002b49;
    font-weight: 600;
    background-color: #fff;
    border: 1px solid #002b49;
}
.container h1 span button:hover {
    color: #fff;
    background-color: #002b49;
}
.cardContainer {
    display: flex;
}
.card{
    text-decoration: none;
    cursor: pointer;
    position: relative;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    border-radius: 20px;
    justify-content: space-between;
    padding: 20px 20px;
    width: 200px;
    height: 110px;
    background-color: #fff;
    color:#002b49;
    margin: 15px
}
.card:first-child{
    margin-left: 0;
}
.card:last-child{
    margin-right: 0;
}
.card:hover{
    color:white;
    background: linear-gradient(to right, #023a60, #5676a2);
}
.cardLabel{
    font-size: 15pt;
    font-weight: 500;
    text-align: left;
}
.cardValue{
    font-size: 22pt;
    font-weight: 600;
    text-align: right;
}
