.container{
    margin-bottom: 50px;
    padding: 40px 20px;
    margin-right: 10px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.container h1 {
    color: #002b49;
    font-size: 20pt;
}
.container p {
    color: #666666;
    font-weight: 400;
}
.container a {
    text-decoration: none;
    margin: 20px 0;
}
.line {
    width: 4%;
    height: 4px;
    background-color: #002b49;
}
.slider {
    position: relative;
}
.cardContainer {
    display: flex;
    flex-direction: row;
}
.slick-slide > div {
    display: flex;
    justify-content: center;
    align-items: center;
}
.cardContainer a {
    margin: 0 10px;
    text-decoration: none;
}
.cardContainer a:first-child {
    margin-left: 0;
}
.cardContainer a:last-child {
    margin-right: 0;
}
.card{
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    justify-content: space-between;
    height: 150px;
    background-color: #fff;
    cursor:pointer;
    margin: 0 10px 10px 10px;
}
.card:hover {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
    transition: 0.3s ease-out;
    opacity : 0.9;
}
.card img {
    border-radius: 10px;
    overflow: hidden;
}
.cardLabel{
    font-size: 12pt;
    color:#666666;
    font-weight: 600;
    padding: 5px 20px;
    text-decoration: none !important;
}
