.alertDialogContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.alertDialog {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    text-align: center;
    color: #002b49;
    font-weight: 600;
    font-size: 20px;
    width: 20vw;
    max-width: 30vw;
}

.alertDialog hr {
    margin: 20px 0;
    border: none;
    border-top: 1px solid #eee;
}

.alertDialog button {
    padding: 5px 30px;
    border-radius: 15px;
    background-color: #ffffff;
    border: solid 1px #90BA2D;
    color: #002b49;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
}

.alertDialog button:hover {
    background: linear-gradient(135deg, #a1b86a, #dae8ba);
    color: #ffffff;
    border: solid 1px #dae8ba;
}

.icon {
    font-size: 40px;
}

.message {
    font-size: 14px;
}