.blueButton {
    font-weight: 700;
    font-size: 0.875rem;
    padding: 6px 10px;
    min-width: 110px;
    border-radius: 15px;
    border: 1px solid #182847;
    transition: all 150ms ease;
    cursor: pointer;
    background: linear-gradient(135deg, #182847, #354e6d);
    color: #ffffff;
    margin: 5px 5px;
}
.blueButton:hover {
    background: linear-gradient(135deg, #3c6699, #9ebce6);
    border: 1px solid #9ebce6;
}
.blueButton.disable {
    background: #999999;
    border: 1px solid #999999;
    cursor: default;
}