.dateBox p {
    font-size: 12px;
    color: #666666;
    margin: 0 0 5px 0;
}
.dateBox.error p{
    color: red;
}
.dateBox {
    position: relative;
    z-index: 5;
}
.testBox {
    display: flex;
    align-items: center;
    width: 100%;
}
.testBox input {
    width: 200px;
    height: 20px;
    padding: 7px 20px;
    font-size: 12px;
    border: 1px solid #ccc;
    border-radius: 15px;
    color: grey;
}
.icon {
    font-size: 17px;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}
.dateBox.error input{
    border: 1px solid red;
}
.leftButton, .rightButton {
    padding: 2px 4px;
    margin: 2px 8px;
    background: #ffffff;
    border: none;
    cursor: pointer;
}
.leftButton:hover, .rightButton:hover {
    color: #90BA2D;
}
.selectBox {
    margin: 10px 3px;
    padding: 2px 3px;
}
.selectBox:focus {
    outline: none;
}