.dateBox {
    position: relative;
}
.dateBox p {
    font-size: 0.65vw;
    color: #666666;
    margin: 0 0 0.27vw 0;
}
.dateBox.error p{
    color: red;
}
.icon {
    position: absolute;
    right: 1vw;
    top: 50%;
    font-size: 2vh;
    transform: translateY(-50%);
    pointer-events: none;
}
.dateBox.error input{
    border: 1px solid red;
}
.testBox input {
    font-size: 0.7vw;
    min-width: 1.65vw;
    height: 1.8vh;
}