.dateBox p {
    font-size: 0.65vw;
    color: #666666;
    margin: 0 0 0.5vh 0;
}
.dateBox.error p{
    color: red;
}
.dateBox {
    position: relative;
}
.testBox {
    display: flex;
    align-items: center;
    width: 100%;
}
.testBox input {
    width: 11vw;
    height: 2vh;
    padding: 0.7vh 1vw;
    font-size: 0.7vw;
    border: 1px solid #ccc;
    border-radius: 15px;
    color: grey;
}
.icon {
    font-size: 1vw;
    position: absolute;
    right: 1vw;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}
.dateBox.error input{
    border: 1px solid red;
}
.leftButton, .rightButton {
    padding: 0.2vh 0.2vw;
    margin: 0.2vh 0.4vw;
    background: #ffffff;
    border: none;
    cursor: pointer;
}
.leftButton:hover, .rightButton:hover {
    color: #90BA2D;
}
.selectBox {
    margin: 1vh 0.2vw;
    padding: 0.2vh 0.2vw;
}
.selectBox:focus {
    outline: none;
}