.greenButton {
    position: relative;
    z-index: 1;
    background: white;
    font-weight: 700;
    font-size: 15px;
    padding: 6px 20px;
    min-width: 60px;
    border-radius: 15px;
    border: 1px solid #90BA2D;
    cursor: pointer;
}
.greenButton:hover {
    background: linear-gradient(135deg, #a1b86a, #dae8ba);
    color: #ffffff;
    border: solid #dae8ba thin;
}
.greenButton.disable {
    background: #999999;
    border: 1px solid #999999;
    cursor: default;
    color: #ffffff
}
