.modalBackground {
    display: flex;
    justify-content: center;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
}
.modal {
    background: #ffffff;
    position: absolute;
    top: 10%;
    max-width: 1600px;
    max-height: 800px;
    min-width: 1000px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    overflow: auto;
    padding: 30px;
    z-index: 3;
}
.modalTitle {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.modalTitle h1 {
    font-size: 32px;
}
.modalTitle button {
    border: none;
    background-color: white;
    border-radius: 50%;
    font-size: 25px;
    cursor: pointer;
}
.modalTitle button:hover {
    background-color: #C8C9CB;
}
.modalContent {
    padding: 5px;
    height: 800px;
    overflow-y: scroll;
}
.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.gridContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0 20px;
}
.modalContent .title {
    flex-basis: 100%;
    margin: 20px 0 5px 0;
    color: #002b49;
    font-size: 15px;
    font-weight: 700;
}
.section {
    display: flex;
}
.modalBottom {
    margin-top: 5px;
    padding: 0 20px;
    display: flex;
    justify-content: flex-end;
}
.mainName {
    margin: 10px 0 0 0;
    color: #002b49;
    font-weight: 700;
    font-size: 18px;
}
