.selectContainer {
    position: relative;
}
.label{
    font-size: 0.65vw;
    color: #666666;
    margin-bottom: 5px;
}
.selectSection ul,
.selectSection li {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: initial;
}
.selectSection p {
    margin-top: 0;
}
.btnSelect {
    display: flex;
    width: 100%;
    min-width: 5vw;
    justify-content: space-between;
    align-items: center;
    border: 0.1vw solid #DAE2ED;
    border-radius: 20px;
    padding: 1vh 1vw;
    margin-bottom: 0.4vh;
    font-size: 0.6vw;
    background-color: #fff;
    box-shadow: 0 0.2vh 0.2vw #F3F6F9;
    cursor: pointer;
}
.selectSection.error .btnSelect {
    border: 1px solid red;
}
.selectSection.error p{
    color: red;
}
.btnSelect:hover {
    outline: 0.1vw solid #CCE492;
    border: 1px solid #90BA2D;
}
.btnSelect.open {
    outline: 0.1vw solid #CCE492;
    border: 1px solid #90BA2D;
}

.listMember {
    position: absolute;
    overflow: auto;
    outline: 0.05vw solid #C4C4C4;
    border-radius: 10px;
    display: none;
    z-index: 1000;
}

.listMember.open {
    display: block;
}
.listMember li {
    width: 100%;
}

.listMember li button {
    width: 100%;
    background-color: #fff;
    font-size: 0.6vw;
    text-align: left;
    padding: 0.8vh 1vw;
    border: none;
    cursor: pointer;
}

.listMember li button:hover {
    background-color: #E5EAF2;
}