.content {
    display: flex;
    flex-wrap: wrap;
}
.content p {
    flex-basis: 100%;
    color: #002b49;
    font-size: 15px;
    font-weight: 700;
}
.content > * {
    padding-right: 20px;
}
.memo {
    border: 1px solid #DAE2ED;
    background: #ffffff;
    width: 100%;
    border-radius: 15px;
    padding: 10px 20px;
    box-shadow: 0 2px 2px #F3F6F9;
}
.memo:focus {
    outline: none;
}
.content.error textarea{
    border: 1px solid #90BA2D;
}