.download {
    font-size: 0.875rem;
    padding: 6px 10px;
    min-width: 110px;
    border-radius: 5px;
    border: 1px solid #182847;
    transition: all 150ms ease;
    cursor: pointer;
    background: linear-gradient(135deg, #182847, #354e6d);
    color: #ffffff;
    margin: 5px 5px;
}
.download:hover {
    background: linear-gradient(135deg, #708094, #a1b6d2);
    border: 1px solid #708094;
}