.header {
    background-color: #182847;
    padding: 1vh 8vw 1.5vh 8vw;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.gPortalLogo{
    text-decoration: none;
    color: #ffffff;
    font-size: 35pt;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
.needHelp {
    background-color: #86B90C;
    border-radius: 18px;
    padding: 0.8vh 1.4vw;
    color: #002B49;
    font-size: 13pt;
    font-weight: 600;
    border: none;
    width: 150px;
    height: 36px;
    text-decoration: none;
}
.needHelp:hover {
    background-color: #6a9600;
    box-shadow: 0 0.5vh 1.5vh rgba(0, 0, 0, 0.3);
    cursor: pointer;
}
.needHelpActive {
    background-color: #ffffff;
    border-radius: 2.5vh;
    padding: 0.8vh 1.4vw;
    color: #182847;
    font-weight: bold;
    font-size: 1vw;
    border: none;
    text-decoration: none;
}
.needHelpActive:hover {
    background-color: #C8C9CB;
}