.download {
    font-size: 14px;
    padding: 5px 15px;
    max-height: 30px;
    min-width: 140px;
    border-radius: 5px;
    border: 1px solid #182847;
    transition: all 150ms ease;
    cursor: pointer;
    background: linear-gradient(135deg, #182847, #354e6d);
    color: #ffffff;
    margin: 10px 20px;
    float: right;
}
.download:hover {
    background: linear-gradient(135deg, #708094, #a1b6d2);
    border: 1px solid #a1b6d2;
}