.container {
    max-width: 1400px;
    margin-top: 50px;
    padding: 20px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.container * {
    transition: 0.3s ease-out;
}
.titleContainer{
    display: grid;
    justify-content: space-between;
    align-items: stretch;
    gap: 10%;
    padding: 20px 0 40px 0;
}
.mainTitle{
    margin-left: 20px;
    color: #002b49;
    font-size: 42px;
    font-weight: 800;
}
.subTitle span {
    color: #002b49;
}
.cardContainer {
    display: flex;
}
.card {
    position: relative;
    margin: 20px 10px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    justify-content: space-between;
    padding: 20px 15px;
    height: 70px;
    width: 110px;
}
.card:hover {
    background: linear-gradient(135deg, #005899, #309fff);
    box-shadow: 0 15px 15px rgba(0, 0, 0.2, 0.3);
    cursor: pointer;
}
.card:hover .cardLabel,
.card:hover .cardValue {
    color: #ffffff;
}
.card img {
    width: 25%;
    height: auto;
}
.activeCard {
    background: linear-gradient(135deg, #002C4B, #005fad);
    box-shadow: 0 15px 15px rgba(0, 0, 0.2, 0.3);
    cursor: pointer;
}

.activeCard .cardLabel,
.activeCard .cardValue {
    color: #ffffff;
}
.cardLabel{
    font-size: 15px;
    color:#002b49;
    font-weight: 600;
    text-align: left;
}
.cardValue{
    font-size: 20px;
    color:#002b49;
    font-weight: 600;
    text-align: right;
}
.learnMoreBox {
    width: 110px;
    text-align: center;
    position: absolute;
    bottom: -32px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    padding: 5px 10px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
    cursor: pointer;
    white-space: nowrap;
    font-size: 14px;
    box-shadow: 0 5px 15px rgba(0, 0, 0.2, 0.3);
}

.card:hover .learnMoreBox {
    opacity: 1;
    transform: translate(-50%, 0);
}
.learnMore {
    color: #002b49;
    font-weight: bold;
}
.learnMore:hover {
    color: #146ba4;
    font-size: 15px;
}