.container {
    padding: 2vh 5vw;
    background-color: white;
    border-radius: 0 0 20px 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.titleContainer{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}
.mainTitle{
    color: #002b49;
    font-size: 2.5vw;
    font-weight: 800;
}
.subTitle {
    align-self: flex-end;
    color: #808080;
    font-size: 0.8vw;
    font-weight: 600;
}
.subTitle span {
    color: #002b49;
}
.cardContainer {
    display: flex;
}
.card {
    position: relative;
    margin: 2vh 0.5vw;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    justify-content: space-between;
    padding: 2vh 1vw;
    height: 11vh;
    width: 6vw;
}
.card:hover {
    box-shadow: 0 15px 15px rgba(0, 0, 0.2, 0.3);
    cursor: pointer;
}
.card img {
    width: 25%;
    height: auto;
}
.cardLabel{
    font-size: 0.9vw;
    color:#002b49;
    font-weight: 500;
    text-align: left;
}
.cardValue{
    font-size: 1.6vw;
    color:#002b49;
    font-weight: 600;
    text-align: right;
}