.container {
    margin-top: 50px;
    padding: 20px 100px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.titleContainer{
    display: grid;
    justify-content: space-between;
    align-items: stretch;
    gap: 10%;
    padding: 20px 0 40px 0;
}
.mainTitle{
    color: #002b49;
    font-size: 32pt;
    font-weight: 800;
    text-shadow: 2px 2px 2px #b6b6b6;
}
.subTitle {
    align-self: flex-end;
    color: #808080;
    font-size: 12pt;
    font-weight: 600;
}
.subTitle span {
    color: #002b49;
}
.cardContainer {
    display: flex;
}
.card {
    position: relative;
    margin: 20px 10px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    justify-content: space-between;
    padding: 20px 15px;
    height: 80px;
    width: 115px;
}
.card:hover {
    background: linear-gradient(135deg, #002C4B, #004A88);
    box-shadow: 0 15px 15px rgba(0, 0, 0.2, 0.3);
    cursor: pointer;
}
.card:hover .cardLabel,
.card:hover .cardValue {
    color: #ffffff;
}

.card img {
    width: 25%;
    height: auto;
}
.cardLabel{
    font-size: 13pt;
    color:#002b49;
    font-weight: 600;
    text-align: left;
}
.cardValue{
    font-size: 20pt;
    color:#002b49;
    font-weight: 600;
    text-align: right;
}