.container {
    margin: 30px 0;
    display: grid;
}
.filterContainer {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}
.filterContainerRight{
    display: flex;
}
.filterContainerRight > *{
    padding-right: 5px;
}
.filterContainerLeft{
    margin-top: 15px;
    display: flex;
}
.resetButton {
    margin-top: 30px;
    cursor: pointer;
}
.resetButton:hover {
    color: #90BA2D;
}
.search {
    width: 380px;
}
.table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 1px;
    border-radius: 15px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
    z-index: 10;
}
.table thead {
    background: linear-gradient(to right, #023a60, #5676a2);
    color: #ffffff;
    font-size: 10pt;
    font-weight: 600;
}
.table thead tr th:first-child {
    border-radius: 20px 0 0 0;
}
.table thead tr th:last-child {
    border-radius: 0 20px 0 0;
}
.table tbody tr:last-child td:first-child {
    border-radius: 0 0 0 18px;
}

.table tbody tr:last-child td:last-child {
    border-radius: 0 0 18px 0;
}
.table tbody {
    font-weight: 300;
    z-index: 1;
}
.table tbody tr {
    border-bottom: 2px solid grey;
}
.table tbody tr td {
    color: #666666;
    font-size: 10pt;
    padding: 8px 20px;
}
.table tbody tr:nth-child(even) {
    background-color: #ffffff;
}
.table tbody tr:nth-child(odd) {
    background-color: #ffffff;
}
.table th,
.table td {
    padding: 7px 10px;
    text-align: center;
}
.pagination {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.pagination span {
    padding: 10px 20px;
    font-size: 10pt;
    color: #1a1a1a;
    align-items: center;
}
.pagination span:first-child {
    padding: 10px 5px 10px 0;
}
.pagination button {
    border: none;
    border-radius: 18px;
    font-size: 10pt;
    padding: 10px 5px;
    margin: 10px 5px;
}
.pagination button:hover:not([disabled]) {
    transform: scale(1.2);
    cursor: pointer;
}
.select {
    width: 55px;
}
.select select {
    font-size: 8pt;
    padding: 10px 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
    background-color: #f8f8f8;
    cursor: pointer;
}
.select select:focus {
    outline: none;
}
.select select:hover {
    border-color: #1a1a1a;
}
.pageButton, .pageButton:hover {
    background: none;
}