.container {
    width: 100%;
    margin: 3vh auto;
}
.filterContainer {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1vh;
}
.filterContainerRight{
    display: flex;
}
.filterContainerRight > *{
    padding-right: 2vw;
}
.filterContainerLeft{
    display: flex;
}
.search {
    width: 20vw;
}
.table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 0.2vh;
    border-radius: 15px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
    z-index: 10;
}
.table thead {
    background-color: #002b49;
    color: #ffffff;
    font-size: 0.8vw;
    font-weight: 600;
}
.table thead tr th:first-child {
    border-radius: 20px 0 0 0;
}
.table thead tr th:last-child {
    border-radius: 0 20px 0 0;
}
.table tbody tr:last-child td:first-child {
    border-radius: 0 0 0 18px;
}

.table tbody tr:last-child td:last-child {
    border-radius: 0 0 18px 0;
}
.table tbody {
    font-weight: 300;
    z-index: 1;
}
.table tbody tr {
    border-bottom: 0.2vh solid grey;
}
.table tbody tr td {
    color: #666666;
    font-size: 0.8vw;
    padding: 0.8vh 1vw;
}
.table tbody tr:nth-child(even) {
    background-color: #ffffff;
}
.table tbody tr:nth-child(odd) {
    background-color: #ffffff;
}
.table th,
.table td {
    padding: 0.7vh 0.7vh;
    text-align: center;
}
.pagination {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.pagination span {
    padding: 1vh 1vw;
    font-size: 0.8vw;
    color: #1a1a1a;
    align-items: center;
}
.pagination span:first-child {
    padding: 1vh 0.5vw 1vh 0;
}
.pagination button {
    border: none;
    border-radius: 18px;
    font-size: 1vw;
    padding: 1vh 0.5vw;
    margin: 1vh 0.5vw;
}
.pagination button:hover:not([disabled]) {
    background-color: #d3d3d3;
    cursor: pointer;
}
.select {
    position: relative;
    width: 3vw;
}

.select select {
    font-size: 0.6vw;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100%;
    padding: 1vh 0.5vw;
    border: 1px solid #ccc;
    border-radius: 15px;
    background-color: #f8f8f8;
    cursor: pointer;
}

.select::after {
    content: '\25BC';
    font-size: 0.6vw;
    color: #555;
    position: absolute;
    top: 50%;
    right: 0.5vw;
    transform: translateY(-50%);
    pointer-events: none;
}
.select select:focus {
    outline: none;
}
.select select:hover {
    border-color: #1a1a1a;
}