.modalBackground {
    display: flex;
    background-color: rgba(128, 128, 128, 0.16);
    justify-content: center;
    position: absolute;
    top: 8vh;
    left: 0;
    right: 0;
    bottom: 0;
}
.modal {
    background: rgb(255, 255, 255);
    border: solid #f0f0f0 2px;
    position: relative;
    top: 20%;
    max-width: 20vw;
    max-height: 30vh;
    min-width: 20vw;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    overflow: auto;
}
.modalTop {
    padding: 1vh 2vw;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.modalClose {
    padding-top: 1vh;
    padding-right: 1vw;
    float: right;
}
.modalClose:hover {
    cursor: pointer;
}
.modalHeader {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 10;
    border-bottom: solid #C8C9CB 2px;
}
.modalBody {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 3vh;
}
.leftBody {
    margin: 3vh 0 3vh 2vw;
    display: flex;
    flex-direction: column;
}
.rightBody {
    margin: 6vh 2vw 2vh 0;
    display: flex;
}
.title {
    font-size: 1.5vw;
}
.categoryName {
    display: grid;
    gap: 10%;
}
.addButton {
    cursor: pointer;
    padding: 0.5vh 0.5vw;
    height: 10vh;
    border-radius: 15px;
    border: solid #354e6d 1px;
    background: linear-gradient(135deg, #182847, #354e6d);
    color: #ffffff;
    font-weight: 700;
    font-size: 0.7vw;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
}
.addButton:hover {
    background: linear-gradient(135deg, #354e6d, #182847);
}