.container{
    margin: 20px;
}
.titleContainer{
    background-color: #fff;
    margin: 30px 0 0;
    padding: 20px 80px;
    border-radius: 15px 15px 0 0;
}
.mainContainer {
    background-color: white;
    border-radius: 0 0 15px 15px;
    padding: 20px 10px;
}