.navPill {
    display: inline-flex;
    background-color: white;
    margin: 1vh 1vw;
    border-radius: 15px;
    width: 15vw;
}
.navPill ul {
    padding: 1vh 0.5vw;
}
.navPill ul ol {
    margin: 1.5vh 0 0 2vw;
    font-size: 0.8vw;
    font-optical-sizing: auto;
    font-weight: 400;
    padding: 0.3vh 2vw 0.3vh 1.2vw;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navPill ul ol:hover {
    background-color: #C8C9CB;
}
.navPill ul ol:active {
    background-color: #e8e8eb;
}
.navPill ul ol a{
    text-decoration: none;
    color: #666666;
}
.navPill li{
    list-style-type: none;
    margin: 3vh 0.8vw;
    cursor: pointer;
}
.navPill li a {
    text-decoration: none;
}
.navPill li span {
    margin: 0 1vw;
    color: #666666;
    font-size: 0.9vw;
    font-optical-sizing: auto;
    font-weight: 400;
}
.navPill li:hover span {
    color: #002b49;
    font-weight: 800;
}
.navPill li a svg {
    color: #666666;
}
.navPill li:hover {
    color: #90BA2D;
}
.navPill li:hover .navItem svg {
    color: #90BA2D;
}
.navPill li .clickIcon {
    width: 1vw;
    margin-right: 0.3vw;
    color: #90BA2D !important;
}
.navPill li .clickSpan {
    color: #002b49 !important;
    font-weight: 800 !important;
}
.icon {
    width: 1vw;
}