.section {
    display: grid;
}
.section > * {
    margin-top: 20px;
    padding-right: 20px;
}
.gridContainer {
    width: 50vw;
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
    margin-bottom: 1vh;
}
.gridItem {
    width: 11vw;
    margin-bottom: 2vh;
}
.textContainer {
    margin-bottom: 1vh;
}