.section {
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
}
.item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 10px 10px 0;
}
.mainName {
    color: #002b49;
    font-weight: 800;
    font-size: 16px;
}
.name {
    color: #565454;
    font-size: 15px;
    font-weight: 500;
    margin: 10px 0 5px 0;
    width: 200px;
}
.value {
    margin-left: 10px;
}