.container {
    padding: 0 2vw;
}
.buttonSection {
    margin-top: 5vh;
    text-align: right;
    width: 100%;
    box-sizing: border-box;
}
.section {
    margin-top: 1vh;
    display: flex;
}
.section > * {
    padding-right: 1vw;
}
.memoSection {
    width: 98.5%;
}
.selectBox {
    width: 11vw;
}
.dateBox {
    width: 11vw;
}
.mainName {
    color: #002b49;
    font-weight: 800;
    font-size: 0.8vw;
}