.container {
    padding: 0 2vw;
}
.excelButton {
    display: flex;
    margin: 2vh 0 2vh auto;
    width: 13.5vw;
    padding: 1vh;
    font-size: 0.8vw;
    background-color: #002b49;
    color: #fff;
    border-radius: 15px;
    border: none;
    justify-content: center;
    font-weight: 700;
    cursor: pointer;
}
.excelButton:hover {
    background-color: #90BA2D;
}
.buttonSection {
    position: sticky;
    text-align: right;
    width: 100%;
    top:0;
    box-sizing: border-box;
}
.section {
    display: flex;
}
.section > * {
    padding-right: 1vw;
}
.selectBox {
    width: 11vw;
}
.dateBox {
    width: 11vw;
}
.mainName {
    color: #002b49;
    font-weight: 800;
    font-size: 0.8vw;
}
.content {
    display: flex;
    flex-wrap: wrap;
}
.content .title {
    flex-basis: 100%;
    margin: 20px 0 5px 0;
    color: #002b49;
    font-size: 0.8vw;
    font-weight: 700;
}
.content > * {
    padding-right: 20px;
}
.memo {
    border: solid 1px #EBEDF4;
    background: #ffffff;
    width: 100%;
    border-radius: 15px;
    padding: 1vh 1vw;
    box-shadow: 0 2px 2px #F3F6F9;
}
.memo:focus {
    outline: none;
}