.container {
    padding: 0 40px;
}
.buttonSection {
    margin-top: 50px;
    text-align: right;
    width: 100%;
    box-sizing: border-box;
}
.section {
    margin-top: 10px;
    display: flex;
}
.section > * {
    padding-right: 20px;
}
.memoSection {
    width: 98.5%;
}
.selectBox {
    width: 220px;
}
.dateBox {
    width: 220px;
}
.mainName {
    color: #002b49;
    font-weight: 800;
    font-size: 0.8vw;
}