.title{
    display: grid;
    justify-content: space-between;
    align-items: stretch;
}
.mainTitle{
    color: #002b49;
    font-size: 1.8vw;
    font-weight: 800;
}
.subTitle {
    align-self: flex-end;
    color: #808080;
    font-size: 0.8vw;
    font-weight: 600;
}
.subTitle span {
    color: #002b49;
}
