.titleContainer{
    display: flex;
    padding: 20px 40px;
    justify-content: space-between;
}
.title{
    display: grid;
    justify-content: space-between;
    align-items: stretch;
}
.mainTitle{
    color: #002b49;
    font-size: 35px;
    font-weight: 800;
}
.subTitle {
    align-self: flex-end;
    color: #808080;
    font-size: 15px;
    font-weight: 600;
}
.subTitle span {
    color: #002b49;
}
.changeButton {
    display: flex;
}
