.changeButton {
    display: flex;
    width: 170px;
    height: 35px;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 15px;
    min-width: 150px;
    border-radius: 15px;
    border: 1px solid #182847;
    transition: all 150ms ease;
    cursor: pointer;
    background: linear-gradient(to right, #023a60, #5676a2);
    color: #ffffff;
    margin-top: 40px;
}
.changeButton:hover {
    background: linear-gradient(135deg, #3c6699, #9ebce6);
    border: 1px solid #9ebce6;
}