.excelButton {
    display: flex;
    width: 13.2vw;
    justify-content: center;
    font-weight: bold;
    font-size: 0.8vw;
    padding: 0.6vh 1vw;
    min-width: 6vw;
    border-radius: 15px;
    border: 1px solid #182847;
    transition: all 150ms ease;
    cursor: pointer;
    background: linear-gradient(135deg, #182847, #354e6d);
    color: #ffffff;
    margin: 2vh 0.3vw;
}
.excelButton:hover {
    background: linear-gradient(135deg, #3c6699, #9ebce6);
    border: 1px solid #9ebce6;
}