.filterContainer {
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
}
.filterContainerRight {
    display: flex;
    gap: 10px
}
.filterContainerLeft {
    display: flex;
}
.addButton {
    margin-top: 7px;
    height: 10px;
}