.modalBody {
    display: grid;
}
.bottomBody {
    display: flex;
    margin: 10px;
    border: solid #C8C9CB 1px;
    border-radius: 15px;
    width: 520px;
    height: 600px;
}
.bodyGrid {
    display: grid;
    margin: 10px 60px;
}
.bodyHeader {
    display: flex;
    width: 400px;
}
.addButton {
    margin-left: auto;
    cursor: pointer;
    padding: 5px 10px;
    height: 40px;
    width: 80px;
    border-radius: 10px;
    border: none;
    background: linear-gradient(135deg, #182847, #354e6d);
    color: #ffffff;
    font-weight: 700;
    font-size: 14px;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.5);
}
.addButton:hover {
    background: linear-gradient(135deg, #354e6d, #182847);
}
.deleteButton {
    cursor: pointer;
}