.container{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 0 20px 20px 20px;
}
.mainTitle{
    color: #002b49;
    font-size: 50px;
    font-weight: 800;
}
.subTitle {
    align-self: flex-end;
    color: #002b49;
    font-size: 15px;
    font-weight: 600;
}