.modalTitle {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.modalTitle h1 {
    font-size: 32px;
}
.modalTitle button {
    border: none;
    background-color: white;
    border-radius: 50%;
    font-size: 25px;
    cursor: pointer;
}
.modalTitle button:hover {
    background-color: #C8C9CB;
}
.modalContent {
    height: 600px;
}
.content {
    display: flex;
    flex-wrap: wrap;
}
.modalContent .content .title {
    flex-basis: 100%;
    margin: 20px 0 5px 0;
    color: #002b49;
    font-size: 18px;
    font-weight: 700;
}
.modalContent .content > * {
    padding-right: 20px;
}
.modalBottom {
    padding: 0 20px;
    display: flex;
    justify-content: flex-end;
}
.headerContent {
    display: flex;
}
.firstContent {
    margin: 20px 20px 5px 0;
}
.firstTitle {
    color: #002b49;
    font-size: 18px;
    font-weight: 700;
}
.section {
    padding-top: 10px;
    display: flex;
    margin: 20px 0 5px 0;
}
.section > * {
    padding-right: 20px;
}
.memo {
    border: solid 1px #EBEDF4;
    background: #FAFAFA;
    width: 100%;
    border-radius: 15px;
    padding: 10px 20px;
    box-shadow: 0 2px 2px #F3F6F9;
}
.memo:focus {
    outline: none;
}
.wrapper {
    margin: 10px;
    padding: 10px;
    overflow-y: scroll;
}