.container {
    display: flex;
    width: 100%;
    height: calc(100vh - 8vh - 14vh);
    gap: 2%;
}
.left, .right {
    flex-basis: calc(50% - 1%);
    max-width: calc(50% - 1%);
    display: flex;
    flex-direction: column;
}
.left {
    overflow: hidden;
}
.left img {
    width: 100%;
    height: calc(100vh - 8vh - 14vh);
    object-fit: cover;
}
.labelContainer {
    margin-left: 5vw;
}
.labelContainer1 {
    display: flex;
    flex-direction: column;
    margin: 10vh 20vw 2vh 0;
    padding: 3vh 0 3vh 0;
    border-bottom: solid black thin;
}
.labelContainer2 {
    display: flex;
    flex-direction: column;
    margin: 2vh 10vw 4vh 0;
}
.line {
    width: 3vw;
    border-top: 0.5vh solid black;
    border-top-color: #002B49;
}
.mainLabel1 {
    font-weight: 700;
    font-size: 2vw;
    color: #002B49;
    margin: 15px 0 15px 0;
}
.mainLabel2 {
    font-weight: 700;
    font-size: 1.5vw;
    color: #002B49;
    margin-bottom: 15px;
}
.subLabel1 {
    font-weight: 400;
    font-size: 1vw;
    color: #002B49;
    margin-bottom: 1.5vh;
}
.subLabel2 {
    font-weight: 300;
    font-size: 1vw;
    color: #808080;
    margin-bottom: 2vh;
}