.container {
    display: flex;
    width: 100%;
}
.left {
    flex: 1;
}
.left {
    flex: 1;
    top: 73px;
    height: calc(100vh - 73px - 150px);
    overflow: hidden;
}
.right {
    flex: 1;
    margin-left: 5%;
}
.left img {
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.labelContainer1 {
    display: flex;
    flex-direction: column;
    margin: 20px 200px 20px 0;
    padding: 30px 0 30px 0;
    border-bottom: solid black thin;
}
.labelContainer2 {
    display: flex;
    flex-direction: column;
    margin: 20px 100px 40px 0;
}
.line {
    width: 30px;
    border-top: 5px solid black;
    border-top-color: #002B49;
}
.mainLabel1 {
    font-weight: 700;
    font-size: 28pt;
    color: #002B49;
    margin: 15px 0 15px 0;
}
.mainLabel2 {
    font-weight: 700;
    font-size: 20pt;
    color: #002B49;
    margin-bottom: 15px;
}
.subLabel1 {
    font-weight: 400;
    font-size: 14pt;
    color: #002B49;
    margin-bottom: 15px;
}
.subLabel2 {
    font-weight: 300;
    font-size: 12pt;
    color: #808080;
    margin-bottom: 20px;
}
.contactUs1,
.contactUs1:link,
.contactUs1:visited {
    display: inline-block;
    text-align: center;
    line-height: 46px;
    width: 240px;
    height: 46px;
    border-radius: 10px;
    border: none;
    background: linear-gradient(135deg, #182847, #354e6d);
    font-weight: 700;
    font-size: 14pt;
    color: #ffffff;
    text-decoration: none;
}
.contactUs1:hover {
    background: linear-gradient(135deg, #1b3351, #3d587e);
    cursor: pointer;
}

.contactUs2,
.contactUs2:link,
.contactUs2:visited {
    display: inline-block;
    text-align: center;
    line-height: 46px;
    width: 240px;
    height: 46px;
    border-radius: 10px;
    border: solid #002B49 thin;
    background-color: #ffffff;
    font-weight: 700;
    font-size: 14pt;
    color: #002B49;
    text-decoration: none;
}
.contactUs2:hover {
    background-color: #efeeee;
    cursor: pointer;
}