.header {
    background-color: #182847;
    padding: 10px 80px 15px 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.headerMenu {
    font-size: 16px;
    font-weight: normal;
    color: #fff;
    text-decoration: none;
    padding: 10px 15px 5px 10px;
    margin-left: 50px;
    transition: background-color 0.3s ease;
}
.headerMenu:hover {
    border-bottom: solid #90BA2D ;
    cursor: pointer;
}
.gPortalLogo{
    text-decoration: none;
    color: #ffffff;
    font-size: 35px;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    margin-right: 50px;
}