.header {
    background-color: #182847;
    padding: 10px 0 15px;
    display: flex;
}
.leftContainer {
    background: #182847;
}
.rightContainer {
    display: flex;
    background: #182847;
}
.headerWidth {
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.gPortalLogo{
    text-decoration: none;
    color: #ffffff;
    font-size: 20pt;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    margin-right: 900px;
}
.headerMenu {
    flex-grow: 1;
    font-size: 16pt;
    font-weight: normal;
    color: #fff;
    text-decoration: none;
    padding: 16px 15px 0 10px;
    margin: 0 60px 10px 0;
    transition: background-color 0.3s ease;
}
.headerMenuActive{
    font-size: 16pt;
    font-weight: normal;
    color: #fff;
    text-decoration: none;
    padding: 16px 15px 0 10px;
    margin: 0 60px 10px 0;
    transition: background-color 0.3s ease;
    border-bottom: solid #90BA2D;
}
.headerMenu:hover {
    border-bottom: solid #90BA2D ;
    cursor: pointer;
}