.profileContainer {
    padding: 10px 0;
}
.profile span {
    color: #999999;
    font-size: 15px;
    font-weight: 300;
    font-style: normal;
    cursor: pointer;
    margin: 15px;
}
.profile {
    color: #ffffff;
    font-size: 15px;
    font-weight: 300;
    font-style: normal;
    cursor: pointer;
    position: relative;
}
.profileDropdown {
    position: absolute;
    top: -2%;
    right: 0;
    transform: translate(-20%, 40%);
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
    color: #4d4d4d;
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    cursor: pointer;
    z-index: 100;
}

.profileDropdown.active {
    display: block;
}

.profileDropdown ul {
    list-style: none;
    padding: 0;
}

.profileDropdown li {
    padding: 5px;
    cursor: pointer;
}

.profileDropdown li:hover {
    background-color: #f0f0f0;
}