.tableContainer {
    margin: 2vh 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.table {
    width: 100%;
    border-collapse: collapse;
}
.table thead {
    background-color: #002b49;
    color: #ffffff;
    font-size: 0.8vw;
    font-weight: 600;
}
.table thead tr th:first-child {
    border-radius: 20px 0 0 20px;
}
.table thead tr th:last-child {
    border-radius: 0 20px 20px 0;
}
.table tbody {
    font-weight: 300;
}
.table tbody tr {
    border-bottom: 1px solid #838689;
}
.table tbody tr td {
    height: 4vh;
    color: #666666;
    font-size: 0.7vw;
    padding: 10px;
}
.table tbody tr:nth-child(even) {
    background-color: #ffffff;
}
.table th,
.table td {
    padding: 0.6vh 0.6vw;
    text-align: center;
}
.head {
    width: 5vw;
}
.headName {
    width: 10vw;
}
.headSelect {

}
.change {
    font-size: 1.2vw;
    cursor: pointer;
}
.editButton {
    font-size: 0.7vw;
    padding: 0.5vh 0.3vw;
    min-width: 4vw;
    border-radius: 5px;
    border: none;
    transition: all 150ms ease;
    cursor: pointer;
    background: linear-gradient(135deg, #a2a3a9, #7a92af);
    color: #ffffff;
    margin: 0.5vh 0.3vw;
}
.editButton:hover {
    background: linear-gradient(135deg, #3c6699, #9ebce6);
    border: none;
}