.icon:hover {
    cursor: pointer;
}
.modalBackground {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 150px;
    left: 0;
    right: 0;
    bottom: 0;
}
.modal {
    background: rgb(255, 255, 255);
    border: solid #f0f0f0 2px;
    position: relative;
    top: 5%;
    max-width: 600px;
    max-height: 650px;
    min-width: 1000px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    overflow: auto;
}
.modalTop {
    padding: 10px 40px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.modalClose {
    padding-top: 10px;
    padding-right: 20px;
    float: right;
}
.modalClose:hover {
    cursor: pointer;
}
.bodyTitle {
    display: flex;
    justify-content: space-between;
    margin: 0 130px;
}
.modalHeader {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 10;
    border-bottom: solid #C8C9CB 2px;
}
.modalBody {
    min-height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px;
}
.rightBody {
    min-height: 400px;
    margin: 0 20px;
}
.centerBody {
    min-height: 400px;
    margin: 0 20px;
}
.leftBody {
    min-width: 360px;
    min-height: 400px;
    margin: 0 20px;
}
.word {
    margin: 10px 0;
}
.selectLink {
    display: flex;
    font-size: 14px;
}
.link {
    color: #859fbf;
    cursor: pointer;
}
.link:active {
    color: #7a93b2;
}