.icon:hover {
    cursor: pointer;
}
.modalBackground {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 15vh;
    left: 0;
    right: 0;
    bottom: 0;
}
.modal {
    background: rgb(255, 255, 255);
    border: solid #f0f0f0 2px;
    position: relative;
    top: 5%;
    max-width: 30vw;
    max-height: 65vh;
    min-width: 50vw;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    overflow: auto;
}
.modalTop {
    padding: 1vh 2vw;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.modalClose {
    padding-top: 1vh;
    padding-right: 1vw;
    float: right;
}
.modalClose:hover {
    cursor: pointer;
}
.bodyTitle {
    display: flex;
    justify-content: space-between;
    margin: 0 6.5vw;
}
.modalHeader {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 10;
    border-bottom: solid #C8C9CB 2px;
}
.modalBody {
    min-height: 40vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 3vh;
}
.rightBody {
    min-height: 40vh;
    margin: 0 1vw;
}
.centerBody {
    min-height: 40vh;
    margin: 0 1vw;
}
.leftBody {
    min-width: 18vw;
    min-height: 40vh;
    margin: 0 1vw;
}
.institutionTable {
    min-width: 44vw;
    background-color: #f8f8f8;
    width: 100%;
    border-collapse: collapse;
    margin: 3vh 1vw;
}
.institutionTable thead {
    background-color: #838689;
    color: #ffffff;
    font-size: 0.7vw;
    font-weight: 600;
}
.institutionTable thead tr th:first-child {
    border-radius: 15px 0 0 0;
}
.institutionTable thead tr th:last-child {
    border-radius: 0 20px 0 0;
}
.institutionTable tbody {
    font-weight: 300;
}
.institutionTable tbody tr {
    border-bottom: 1px solid #838689;
}
.institutionTable tbody tr td {
    color: #666666;
    font-size: 0.7vw;
    padding: 10px;
}
.institutionTable th,
.institutionTable td {
    padding: 0.6vh 0.6vw;
    text-align: center;
}
.word {
    margin: 10px 0;
}
.selectLink {
    display: flex;
    font-size: 14px;
}
.link {
    color: #859fbf;
    cursor: pointer;
}
.link:active {
    color: #7a93b2;
}
.title {
    font-size: 2vw;
}
.institutionTitle {
    margin: 2.5vh 0 2vh auto;
    font-size: 1vw;
}
