.container {
    position: relative;
}
.bodySection {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 5%;
}
.categoryItem {
    width: 30%;
    margin: 5vh 4vw 15vh;
    display: grid;
    position: relative;
    background-color: #fff;
}
.categoryTitle {
    color: #002b49;
    font-size: 0.9vw;
    font-weight: bold;
    margin-bottom: 2vh;
}
.cardDescription {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 30vw;
    height: 18vh;
    padding: 1vh 1vw 0 2vw;
    display: grid;
    align-items: center;
    background-color: #F4F6F7;
    position: relative;
}
.categoryDescription {
    margin-top: 0.5vh;
    font-size: 0.6vw;
    color: #666;
}
.orderButton {
    margin-top: 2vh;
    width: 6vw;
    padding: 0.7vh 1vw;
    font-size: 0.6vw;
    color: #5676a2;
    border: solid 2px #5676a2;
    cursor: pointer;
}
.orderButton:hover {
    color: #90BA2D;
    border: solid 2px #90BA2D;
}
.noServiceMessage {
    transform: translate(+65%, 0%);
    text-align: center;
    font-size: 1vw;
}
.noServiceMessage h2 {
    color: #002b49;
    font-size: 1.5vw;
    margin-bottom: 1vh;
}
.noServiceMessage p {
    font-size: 1vw;
    margin-bottom: 5vh;
}