.container {
    position: relative;
}
.bodySection {
    width: 100%;
    display: grid;
    justify-content: center;
    align-content: center;
}
.categorySection {
    display: grid;
    padding-bottom: 50px;
}
.search {
    width: 400px;
    margin: 20px 0;
}
.cardContainer {
    display: block;
}
.categoryItem {
    display: flex;
    align-items: center;
    width: 900px;
    min-height: 150px;
    max-height: 500px;
    margin-bottom: 50px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 15px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.selectedCard {
    background: linear-gradient(to right, #023a60, #5676a2);
}
.selectedTitle, .selectedDescriptionText {
    color: #fff !important;
}
.selectedCardPicture {
    border-radius: 0 15px 0 0 !important;
}
.cardDescription {
    flex: 0 0 40%;
    height: 110px;
    display: grid;
    padding: 20px;
    border-radius: 15px 0 0 15px;
}
.cardPicture {
    position: relative;
    height: auto;
    flex: 0 0 59.9%;
    border-radius: 0 15px 15px 0;
    overflow: hidden;
}
.cardPicture img {
    object-fit: cover;
}
.categoryTitle {
    font-size: 14pt;
    font-weight: bold;
    margin-bottom: 10px;
}
.categoryDescription {
    margin-top: 5px;
    font-size: 9pt;
    color: #666;
}
.serviceLink {
    margin: 5px 20px;
    font-size: 9pt;
    color: #002b49;
    font-weight: 700;
    cursor: pointer;
}
.serviceLink:hover {
    color: #90BA2D;
}
.noServicesMessage {
    margin: 1vh 1vw;
    font-size: 0.9vw;
    color: #002b49;
    font-weight: 700;
}
.cartTopSection {
    display: flex;
    width: 861px;
}
.cartBottomSection {
    display: grid;
    width: 900px;
    height: 0;
    background: #fff;
    border-radius: 0 0 14px 14px;
    transition: height 0.3s ease;
}
.cartBottomSection.expanded {
    height: 180px;
}
.cartBottomSectionScroll {
    margin: 5px;
    overflow-y: scroll;
}
.cartBottomSectionScroll::-webkit-scrollbar-track {
    background: none;
}
.cartBottomSectionScroll::-webkit-scrollbar-thumb {
    background-color: #90BA2D;
    border-radius: 15px;
    border: none;
}
.cartBottomSectionScroll::-webkit-scrollbar {
    width: 5px !important;
    height: 10px !important;
}
