.container {
    position: relative;
}
.searchSection {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5vh 0;
}
.bodySection {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 2vw;
}
.categorySection {
    width: 50%;
    display: grid;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-bottom: 5vh;
}
.serviceSection {
    width: 50%;
    height: 60vh;
    display: grid;
    padding: 2vh 2vw;
    position: sticky;
    top: 10vh;
    transition: transform 0.3s, opacity 0.2s;
}
.search {
    width: 25vw;
}
.categoryItem {
    width: 30%;
    margin: 5vh 2vw;
    display: flex;
    position: relative;
    background-color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
    border: 2px solid transparent
}
.selectedCard {
    color: #90BA2D;
}
.cardDescription {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    top: 30%;
    width: 50vw;
    height: 18vh;
    padding: 1vh 1vw;
    display: grid;
    align-items: center;
    border-radius: 0 30px 0 0;
    background-color: #F4F6F7;
    position: relative;
    z-index: 2;
}
.cardPicture {
    width: 18vw;
    height: 25vh;
    background-color: #e0e0e0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 0;
    left: 60%;
    z-index: 1;
    border-radius: 8px;
}
.categoryTitle {
    font-size: 1vw;
    font-weight: bold;
}

.categoryDescription {
    margin-top: 0.5vh;
    font-size: 0.7vw;
    color: #666;
}

.serviceLink {
    margin: 1vh 1vw;
    font-size: 0.9vw;
    color: #002b49;
    font-weight: 700;
    cursor: pointer;
}
.serviceLink:hover {
    color: #90BA2D;
}
.noServicesMessage {
    margin: 1vh 1vw;
    font-size: 0.9vw;
    color: #002b49;
    font-weight: 700;
}
.serviceContainer {
    margin: 2vh 2vw;
    border: 2px solid #002b49;
    border-radius: 8px;
    padding: 2vh 1vw;
    overflow-y: scroll;
    transition: all 0.3s ease;
    box-shadow: 0.1vh 0.4vh 1vh rgba(152, 152, 152, 0.5);
}
.serviceContainer::-webkit-scrollbar-track {
    background: none;
}
.serviceContainer::-webkit-scrollbar-thumb {
    background-color: #90BA2D;
    border-radius: 15px;
    border: none;
}
.serviceContainer::-webkit-scrollbar {
    width: 0.3vw !important;
    height: 1vh !important;
}
