.container {
    margin: 10px 40px 10px 0;
    position: relative;
}
.selectSection ul,
.selectSection li {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: initial;
}
.selectSection p {
    margin-top: 0;
}
.label{
    font-size: 12px;
    color: #666666;
    margin-bottom: 5px;
}
.btnSelect {
    display: flex;
    width: 100%;
    min-width: 200px;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #DAE2ED;
    border-radius: 20px;
    padding: 10px 20px;
    margin-bottom: 4px;
    font-size: 10px;
    background-color: #fff;
    box-shadow: 0 2px 4px #F3F6F9;
}
.selectSection.error .btnSelect {
    border: 1px solid #90BA2D;
}
.selectSection.error p{
    color: #90BA2D;
}
.label {
    font-size: 12px;
    color: #666666;
    margin: 0 0 5px 10px;
}
.btnSelect:hover {
    outline: 1px solid #CCE492;
    border: 1px solid #90BA2D;
}
.btnSelect.open {
    outline: 1px solid #CCE492;
    border: 1px solid #90BA2D;
}
.selectInput, .selectInput:focus {
    width: 100%;
    border: none;
    outline: none;
}
.searchList {
    display: none;
    position: absolute;
    outline: 1px solid #C4C4C4;
    border-radius: 5px;
    max-height: 200px;
    overflow-y: auto;
    background-color: #fff;
    z-index: 100;
}
.searchList.open {
    display: block;
}
.searchInput {
    border: solid #C4C4C4 1px;
    width: 90%;
    border-radius: 5px;
    margin: 5px 4px;
    outline: none;
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 10;
}
.listMember.open {
    display: block;
}
.listMember li {
    width: 385px;
}
.listMember li button {
    width: 100%;
    background-color: #fff;
    font-size: 10px;
    text-align: left;
    padding: 8px 20px;
    border: none;
    cursor: pointer;
}

.listMember li button:hover {
    background-color: #E5EAF2;
}