.container{
    margin: 20px auto auto;
    width: 95%;
}
.titleContainer{
    padding: 20px;
}
.orderContainerWrapper {
    padding: 20px 10px;
    border-radius: 15px;
    background-color: #ffffff;
}
.orderContainer{
    height: 57vh;
    overflow-y: scroll;
    position: relative;
}
.orderContainer::-webkit-scrollbar {
    width: 5px;
}
.orderContainer::-webkit-scrollbar-thumb {
    background-color: #859fbf;
    border-radius: 15px;
}
.orderContainer::-webkit-scrollbar-track {
    background-color: #ffffff;
    border: solid grey thin;
    border-radius: 15px;
}