.container{
    margin: 20px auto auto;
    width: 95%;
}
.titleContainer{
    padding: 20px;
}
.orderContainerWrapper {
    padding: 20px 10px;
    border-radius: 15px;
    background-color: #ffffff;
}
.orderContainer{
    height: 57vh;
    overflow-y: scroll;
    position: relative;
}
