.container {
    display: flex;
    align-items: stretch;
    width: 1400px;
    margin: 0 auto;
}
.leftSection {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
}
.rightSection{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}